
/*----------------- linhas de Colchoes--------------  */         /*---------- linhas de Colchoes  -----------*/

.linhas-colchoes{
    width: 100%;
    /* display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap; 
    /* max-width: 1512px; */
    /* margin: 0 auto; */

    /* order: 2; */

    
}


.linhas-size{
    max-width: 1512px;
    margin: 0 auto;
}


.linhas-size2{
    width: 100%;
    /* display: flex;
    flex-direction: row; */
}





.FeaturesAndBenefits{
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-top: 3%;
    margin-bottom: 2%;

}

.features, .benefits, .fetures-section-image{
    flex: 1;
    align-items: center;
    padding: 0% 5% 0% 5% ;
    /* line-height: 30px; */
    
   

}
.features h4, .benefits h4{
    padding-bottom: 20px;
}
.features p, .benefits p{
    padding-bottom: 13px;
}



/*---------- Nosso Time section-------------------*/       /*---------- Nosso Time section-------------------*/    
.section-nossoTime{
    width: 100%;
    /* height: 570px; */
    height: 72vh;
    background: rgb(255, 255, 255);
}

.section-conteudo{
   
    max-width: 1044px;
    max-height: 576px;
    margin: 41px auto;
    /* padding: 41px; */
}

.ourTeam-conteudo{
    padding-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.ourTeam-H4{
    color: #212121;
    font-size: 45px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 27px;
    word-wrap: break-word;
    padding-bottom: 37px;
}

.ourTeam-p{  
    color: #4D4D4D;
    font-size: 15px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
    padding-bottom: 25px;
}

.pai-homem-mulher{
    display: flex;
    padding-top: 66px;
}

/* .img-padrao{
    display: none;
} */

.homem{
    display: flex;
    width: 50%;
}

.img-homem img{
  padding-bottom: 175px;
  /* border: 1px solid orange; */
  
}

/* .text-homem{ */
    /* padding: 0 5px 5px 5px; */
/* } */

.text-homem h4{
    color: #212121;
    font-size: 30px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 36px;
    word-wrap: break-word;
    padding-bottom: 16px;
    padding-left: 4%;
}
.img-mobile-homem{
    display: none;
}

.text-homem p{
    color: #4D4D4D;
    font-size: 15px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
    padding-left: 4%;
}



.mulher{
    display: flex;
    width: 50%;
    
}

/* .img-mulher img{
    
 
} */

.img-mobile-mulher{
    display: none;
}  

.text-mulher{
    width: 100%;
    
    
}

.text-mulher h4{
    color: #212121;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    word-wrap: break-word;
    padding-left: 4%;
    width: 100%;
    padding-bottom: 16px;


}

.text-mulher p{
    color: #4D4D4D;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
    padding-left: 4%;
}


.ourTeam-p--mobile{
    display: none;
    color: #212121;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 13.2px; /* 60% */
    /* margin-left: 3%; */
}


/* ----------section AVALIACOES ----------------*/  /* ----------section AVALIACOES ----------------*/

.section-avaliacoes{
    width: 100%;
    /* border: 1px solid red; */
}

.container-avaliacoes{
    max-width: 1512px;
    height: 507px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* border: 5px solid rgb(11, 35, 220); */
}





.conteudo-avaliacoes-logo{
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    flex-wrap: nowrap; 
}




.div-logoipsum-white, .div-logoipsum-dark{
    flex: 1;
    /* border: 3px solid rgb(21, 15, 4) */
}

/* .div-logoipsum-white{
    display: flex;
    justify-content: flex-end;
} */

.div-logoipsum-white img {
    width: 212px;
    height: 48.182px;
    flex-shrink: 0;
    
    margin: 66px 0 86px 378px;
    /* margin: 66px 0 86px 360px; */
    /* padding-left: 417px; */
}


.div-logoipsum-dark img{
    width: 248px;
    height: 44.551px;
    flex-shrink: 0;

    margin: 66px 0px 86px 20px;    
}






.conteudo-avaliacoes-nota{
    display: flex;
    flex-wrap: nowrap; 
    /* width: 100%; */
     /* border: 4px solid rgb(170, 199, 24); */
}


.nota-avaliacoes-numero, .nota-avaliacoes-letra{
    display: flex;
    min-width: 258px;
    width: 258px;
    /* flex: 1; */
    flex-direction: column;
    /* border: 2px solid rgb(0, 13, 255); */
}

.nota-avaliacoes-numero{
    margin: 25px 0 0 120px;
}

.nota-avaliacoes-letra{
    margin:25px 0 0 110px;
}

.number-48{
    color: #212121;
    font-size: 45px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 27px;
    word-wrap: break-word;

    /* text-align: center; */
    margin: 0 0 0 5px;
 
}

.letra-AA{
    color: #212121;
    font-size: 45px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 27px;
    word-wrap: break-word;

    /* text-align: center; */
    margin: 0 0 0 5px;
 
}

.img-estrelas{
    width: 80px;
    height: 15px;
    color: #F0AD4E;
    font-size: 30px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 15px;
    /* text-align: center; */

    margin: 15px 0 13px 0;
    /* margin: 15px 0 0 135px; */
    /* padding-bottom: 23px; */
    /* border: 2px solid red; */
}




.text-ratings-reviews{
    color: #212121;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px; /* 100% */
    /* margin: 14px 0 0 139px; */


    /* text-align: center; */
    margin-bottom: 7px;
}



.nota-avaliacoes-titulos{
    /* flex: 2; */
    /* border: 5px solid red; */
    display: flex;
    flex-direction: column;
    margin: 0 180px 0 85px ;
}

.TrustedByNumerous, .nomeERelato{
    margin: 0 0px 0 150px;

    /* border: 3px solid red; */
}

/* .nomeERelato{

} */

.TrustedByNumerous h5{
    color: #212121;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 120% */
}

.h6-google{
    color: #212121;
    /* text-align: center; */
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px; /* 100% */

    margin: 32px 0 17px 0;
}

.h6-jessica, .p-jessica{
    padding-left: 23px;
}

.h6-jessica{
    color: #212121;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 105.882% */
}

.p-jessica{
    padding-top: 9px;
}





/* VERSÃO MOBILE ____________________________________________________________________________________________________ */
@media (max-width: 500px) {

    .section-nossoTime{
        width: 100%;
        height: 90vh;
    }
    
    .section-conteudo{       
        /* max-width: 1044px;
        max-height: 576px; */
        margin: 0px auto;
        /* padding: 41px; */
        padding: 3.5%;
    }
    
    
    .ourTeam-conteudo{
        padding-top: 8%;
        /* padding-bottom: 4%; */
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .ourTeam-H4{
        display: none;
    }
    
    .ourTeam-p{  
        display: none;
    }

    .ourTeam-p--mobile{
        display: block;
    }

    .pai-homem-mulher{
        display: flex;
        padding-top: 4.5%;
        
    }

    .homem, .mulher{
        display: flex;
        flex-direction: column;
        margin-right: 1.5%;
        border: 2px solid red;
    }

    .img-homem img, .img-mulher img{
        padding-bottom: 0px;
        width: 274px;
        height: 410px;
        flex-shrink: 0;
    }
    .img-padrao{
        display: none;
    }

    .img-mobile-homem, .img-mobile-mulher{
        display: inline-block;
    }

    .text-homem h4, .text-mulher h4{
        color: #212121;
        font-family: Roboto;
        font-size: 23px;
        font-style: normal;
        font-weight: 400;
        line-height: 31.2px; /* 135.652% */
    }

}



@media (max-width: 1247px) {
    .nomeERelato, .TrustedByNumerous{
        display: none;
    }
}