
.biggerCard{
    transform: scale(1.01);
    transition: transform 0.5s ease;
    position: relative;
    z-index: 1;
}


.nomeProduto{
    font-weight: 400;
    color: black;
    font-size: 36px;
    line-height: 24px;
    word-wrap: break-word;
    width: 100%;
    text-transform: capitalize;
}

.linha{
    text-align: center;
    font-size: 14px;
    font-style: normal;
   
}