.header {
    width: 100%;

    background: linear-gradient(100deg, rgba(67, 133, 194, 0.19) 0%, rgba(192, 219, 244, 0.19) 99.58%), linear-gradient(259deg, rgba(3, 181, 155, 0.79) 0.77%, #CDF3EC 38.81%, #4DDECD 100%, #20EBBE 100%), radial-gradient(50% 54.64% at 50% 45.36%, rgba(0, 0, 0, 0.00) 0%, rgba(42, 200, 133, 0.20) 100%);

}
.container{
    max-width: 1512px;
    margin: 0 auto;
    height: 100%;
 

} 

.header-conteudo{
    height: 100%;
    width: 100%;
    flex-direction: column;
    /* border: 1px solid black ; */
    
}
.header-section{
    display: flex;
    flex-direction: row;
    
}

.header-section-titles{
    display: flex;
    flex-direction: column;
    width: 50%;
    /* justify-content: space-between; */
    padding-top: 35px;
    padding-left: 100px;
    padding-right: 10vh;
   
}


.header-section-titles-intrudution{
    gap: 20px;

}

.header-section-titles-intrudution  h1{
    color: #633102;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;

   
}

.header-section-titles-intrudution  p{
    color: #4D4D4D;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-top: 20px;
    
}
/* botoes */
.header-section-button{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    padding-bottom: 20vh;
    padding-top: 70px;
    gap: 20px;
}

.header-section-button button{
    padding: 10px 50px;
    max-width: 255px;
 }



#confira-nosso-catalogo,#entre-em-contato{
    width: 255px;
    height: 40px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: #212121;
    text-align: center;
    cursor: pointer;
    position: relative;
}

#zapBotton{
    position: absolute;
    position: absolute;
    top: 10%;
    right: 0;
    transform: translateX(-50%);
    border-radius: 50%;
}


.header-section-button button:hover{
    background-color: #4385C2;
    transform: scale(1.03);
    transition: all  0.5s ease;
}

#confira-nosso-catalogo:hover, #entre-em-contato:hover{
    color: #ffffff;
}




.header-section-image{
    width: 50%;
    display: flex;
    /* align-items: center; */
    justify-content: center;

}
.header-section-image img{
    width: 532px;
    height: 537px;
}




/* button duplicater */
.button-duplicate-none{
    display: none;
}

.header-section-button-duplicate{
    /* display: flex; */
    /* flex-direction: column; */

    /* justify-content: flex-start; */
    text-align: center;
    padding-bottom: 32px;
    padding-top: 27px ;
    gap: 20px;
}

#confira-nosso-catalogo-duplicate{
    margin-bottom: 27px;
}


#confira-nosso-catalogo-duplicate,#entre-em-contato-duplicate{
    width: 255px;
    height: 40px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: #212121;
    text-align: center;
    position: relative;
    cursor: pointer;
}

#zapBotton-duplicate{
    position: absolute;
    top: 10%;
    right: 0;
    transform: translateX(-50%);

    width: 30px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 50%;

}


.header-section-button-duplicate button{
   padding: 10px 50px;
   max-width: 255px;
}

.header-section-button-duplicate button:hover{
    background-color: #4385C2;
    transform: scale(1.03);
    transition: all  0.5s ease;
}

#confira-nosso-catalogo-duplicate:hover, #entre-em-contato-duplicate:hover{
    color: #ffffff;
}






/* VERSÃO MOBILE ____________________________________________________________________________________________________ */

@media(max-width: 16in ){
    
    .header-section-image img{
        width: 458px;
        height: 463px;
        
    }


}






@media (max-width: 11in) {


.header{
    background: linear-gradient(165deg, rgba(165, 212, 255, 0.45) 0%, rgba(192, 219, 244, 0.00) 30.74%, rgba(192, 219, 244, 0.45) 99.01%), linear-gradient(195deg, rgba(46, 181, 165, 0.89) 0%, rgba(125, 233, 218, 0.40) 35.73%, rgba(99, 238, 221, 0.89) 98.44%), radial-gradient(38.05% 38.05% at 50% 61.95%, rgba(0, 0, 0, 0.00) 0%, rgba(42, 200, 133, 0.20) 100%);
    order: 1;
    padding: 3.5%;
  
}


.header-section{
        display: flex;
        flex-direction: column;
    
        
} 

.header-section-titles-intrudution{
    gap: 3.5;
 

}


.header-section-titles{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 5%;
   
}

    
.header-section-titles-intrudution  h1{

    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.header-section-titles-intrudution p{
    color: #4D4D4D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

}

.header-section-image{
    width: 100%;

}

.header-section-image img{
    width: 375px;
    height: 384px;
}

.header-section-button{
    display: none;

}

.button-duplicate-none{
    display: block;
}



}
@media (max-width: 360px)  {
    .header-section-image img{
        width: 305px;
        height: 312px;
        
    }
    
    
}
/* @media (min-width: 360px)  {
    .header-section-image img{
        width: 340px;
        height: 347px;
        
    }
    
    
} */