
.main-carrocel{
    background-color: #EFEFEF;
    width: 100%;
  
}

.main-container{
    
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.div-container-produtos{
    overflow: auto;
    overflow-x: hidden;  
    width: 100%;
}

.div-nossasLinhas, .div-container-produtos{
    display: flex;
    flex-direction: row;   
}

.div-nossasLinhas h2{
    color: #212121;
    font-size: 45px;
    line-height: 27px;
    word-wrap: break-word;
    padding: 4% 0 2% 2%;
       
}




/*BUTTONS de rolagem carocel______________________________________________________________________________  */
.previus-cards, .next-cards{
    all: unset;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    margin-top: 12%; 
    transition: opacity 0.7s ease;
    z-index: 2;



}
.next-cards{
    left: 94%;
}
.previus-cards{
    left: 2%;
}

.shower {
    opacity: 0.7;
}

.next-cards:hover , .previus-cards:hover {
    opacity: 1;
    
}





@media (max-width: 500px) {
    .main-carrocel{
       display: none;
    }
}