.div-container-produtos{
    margin-left: 0px;
    overflow: auto;
    overflow-x: hidden; 
}


.main-carrocel{
    width: 100%;
}

.main-container{
    max-width: 1512px;
    /* height: 300px; */
    margin: 0 auto;
    display: flex;
    flex-direction: column; 
}

.div-nossasLinhas, .div-container-produtos{
    display: flex;
    flex-direction: row;
    /* flex-wrap: nowrap; */
    margin-left: 33px;
  
}

.div-nossasLinhas h2{
    color: #212121;
    font-size: 45px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 27px;
    word-wrap: break-word;
    padding: 60px 0 83px 0;
       
}


.card-produto{
    display: flex;
    flex-direction: column;
    margin: .9%;
    padding: 22px 24px;
    align-items: flex-start;
    gap: 40px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.20);
    scroll-snap-align: start;
    margin-bottom: 5%;
}


    /*BUTTONS de rolagem carocel  */
.previus-cards, .next-cards{
    all: unset;
    display: none;
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: pointer;
    margin-top: 15%; 
  
  
}

/*Escondendo botões */
.div-container-produtos:hover .previus-cards {
    display: block;
    margin-left: 5%;    
}

  .div-container-produtos:hover .next-cards {
    display: block;
    margin-left: 95%;
  }
  

.imgProduto {
    width: 100%;
    height: 100%;
    /* border-radius: 20px; */
    background-position: center;
    background-size: cover;
}

.div-nome-produto{
    display: flex;
    justify-content: flex-start;
    width: 100%;

}

.nomeProduto{
    font-style: normal;
    font-weight: 400;
    color: black;
    font-size: 40px;
    line-height: 24px;
    word-wrap: break-word;
    width: 100%;
    text-transform: capitalize;
}

