.div-container-produtos{
    overflow: auto;
    overflow-x: hidden;  
    width: 100%;
    background-color: #F5F5F7;
}



.main-carrocel{
    width: 100%;
    
}

.main-container{
 
    /* height: 300px; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: solid 4px rgba(64, 255, 0, 0.331);
 
}

.div-nossasLinhas, .div-container-produtos{
    display: flex;
    flex-direction: row;
    /* flex-wrap: nowrap; */
   
  
}

.div-nossasLinhas h2{
    color: #212121;
    font-size: 45px;
    font-family: Roboto;
    line-height: 27px;
    word-wrap: break-word;
    padding: 60px 0 83px 0;
       
}


.card-produto{
    display: flex;
    flex-direction: column;
    margin: .9%;
    padding: 22px 24px;
    align-items: flex-start;
    gap: 40px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.90);
    box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.20);
    scroll-snap-align: start;
    margin-bottom: 5%;
  
}

.biggerCard{
    background: rgba(185, 185, 185, 0.667);
    transition: background 0.5s ease;
    

}



    /*BUTTONS de rolagem carocel  */
.previus-cards, .next-cards{
    all: unset;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    margin-top: 10%; 
    margin-bottom: 20%;
    transition: opacity 0.8s ease;
}
.next-cards{
    left: 85%;
}
.previus-cards{
    left: 5%;
}

.shower {
    opacity: 1;
}


.imgProduto {
    width: 100%;
    height: 100%;
    /* border-radius: 20px; */
    background-position: center;
    background-size: cover;
}


.nomeProduto{
    font-weight: 400;
    color: black;
    font-size: 34px;
    line-height: 24px;
    word-wrap: break-word;
    width: 100%;
    text-transform: capitalize;
}

