
.main-carrocel{
    background-color: #EFEFEF;
    width: 100%;
    /* order: 2; */
}

.main-container{
    /* height: 300px; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.div-container-produtos{
    overflow: auto;
    overflow-x: hidden;  
    width: 100%;
}

.div-nossasLinhas, .div-container-produtos{
    display: flex;
    flex-direction: row;   
}

.div-nossasLinhas h2{
    color: #212121;
    font-size: 45px;
    line-height: 27px;
    word-wrap: break-word;
    padding: 4% 0 2% 2%;
       
}


.card-produto{
    display: flex;
    flex-direction: column;
    margin: 2% .9% 5% 3%;
    padding: 22px 24px;
    align-items: flex-start;
    gap: 40px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.90);
    box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.50);
    scroll-snap-align: start;
    cursor: pointer;
  
}


.biggerCard{
    background: rgba(255, 255, 255, 0.321);
    transform: scale(1.03);
    transition: transform 2s ease;
    position: relative;
    z-index: 1;
}


.imgProduto {
    width: 368px;
    height: 249px; 
    border-radius: 20px;
    background-position: center;
}


.nomeProduto{
    font-weight: 400;
    color: black;
    font-size: 34px;
    line-height: 24px;
    word-wrap: break-word;
    width: 100%;
    text-transform: capitalize;
}


/*BUTTONS de rolagem carocel______________________________________________________________________________  */
.previus-cards, .next-cards{
    all: unset;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    margin-top: 12%; 
    transition: opacity 0.7s ease;
    z-index: 2;



}
.next-cards{
    left: 94%;
}
.previus-cards{
    left: 2%;
}

.shower {
    opacity: 0.7;
}

.next-cards:hover , .previus-cards:hover {
    opacity: 1;
    
}


/* 
.saibaMais{
    border-radius: 30px;
    background: rgba(67, 133, 194, 0.70);
    width: 138px;
    height: 31px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px; 

} */


@media (max-width: 500px) {
    .main-carrocel{
       display: none;
    }
}