.nav-sec-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    /* border: 2px solid red; */
}

.nav-logo{
    /* height: 110px; */
    padding: 20px 0 0 73px;
    width: 50%;
    /* border: 2px solid red; */
}

.nav-sec-links{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    /* padding-right: -50px; */
    /* padding-right: 73px; */
   
}


.nav-links{
    width: 38%;
    display: flex;
    flex-direction: row;
    gap: 40px;
    
}

.nav-links a{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    color: #F5F5F7;
    text-decoration: none;
    /* transition: transform 0.3s;  */
}

/* .nav-links a:hover{
    font-size: 22px;
    border-bottom: 2px solid transparent;
    color: red;
} */
.nav-links a:hover{
  transform: scale(1.11);
  color: #9C796B;
  transition: all  1s ease;
}








/* ----------------------MENU mobile-------------- */

.mobile-menu{
    display: none;
    margin: 5%; 
    cursor: pointer;
}

.mobile-menu:hover {
    opacity: 0.7;
  }

/* .line1, .line2, .line3{
   
} */

.mobile-menu div {
    border-radius: 30px;
    width: 32px;
    height: 3px;
    background: #ffffff;
    margin: 8px;
    transition: 0.3s;
}




/* ---------------------------- */

.pai-list-mobile{
  
    display: none;
}

/* .nav-list{
    list-style: none;
    display: none;
} */

.nav-list-li{ 
    letter-spacing: 3px;
    /* margin-left: 32px; */
    /* border: 4px solid rgb(119, 214, 24); */
}

.nav-list-a{
    text-decoration: none;
}

.nav-list-a:hover{
    opacity: 0.7;
}








@media (max-width: 500px) {
    .nav-sec-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 5%;
    }
    .nav-logo{
        height: 34%;
        padding: 3% 0% 3% 5%;
       
    }
    
    .nav-links{
        display: none;
    }


/*_____________________ MOBILE MENU   FAZER ANIMAÇAO ______________________________________________________ */
    .pai-mobile-menu{
        z-index: 3;
    }
    .mobile-menu{
        display: block;
        margin: 0%; 
        /* border: 2px solid green; */
        /* position: relative; */
        /* z-index: ; */
    }

    .mobile-menu div {
        border-radius: 30px;
        width: 27px;
        height: 3px;
      
    }







    .pai-list-mobile{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0vh;
        right: 0;
        width: 100vw;
        height: 100vh;
        /* padding: 12%; */
        background: #fff;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 2;
        /* border: 2px solid rgb(38, 0, 128); */
    }
    
    .nav-list{
        display: flex;
        /* position: absolute; */
        /* top: 0vh; */
        /* right: 0; */
        /* width: 100vw; */
        height: 80vh;
        padding: 12%;
        background: #fff;
        flex-direction: column;
        /* align-items: center; */
        /* justify-content: space-around; */
        /* transform: translateX(100%); */
        /* transition: transform 0.3s ease-in; */
        /* z-index: 2; */
        /* border: 2px solid green; */
    }

    .nav-menu-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20vh;
        width: 100vw;
        background: linear-gradient(180deg, rgba(185, 228, 250, 0.00) 0%, #AED0EF 21.24%);
        /* background-color: red; */
        /* border: 2px solid yellow; */
    }

    .nav-first-li-marge{
        margin-top: 34px;
    }

    .nav-list-li{ 
        opacity: 0;
        display: flex;
        /* z-index: 4; */
        height: 85px;
        width: 100%;
        /* border: 2px solid black; */
    }

    .li-container-img{
        width: 45%;
        /* border: 2px solid rgb(0, 64, 255); */
    }
    .li-container-links{
        width: 55%;
        display: flex;
        align-items: center;
        /* border: 2px solid rgb(0, 64, 255); */
    }

    .nav-list-img{
        cursor: pointer;
        /* border: 3px solid rgb(128, 23, 0); */
        /* height: 100%; */
    }
    
    .nav-list-a{
        text-transform: capitalize;
        font-weight: bold;
        font-size: 17px;
        cursor: pointer;
        /* border: 2px solid red; */
        /* display: flex; */
    }


    .pai-list-mobile.active{
        transform: translateX(0);
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0);
        }
    }
    .navLinkFadeAnimation {
        animation: navLinkFade 0.5s ease forwards;
    }

    


    .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
        background-color: black;
    }
    .mobile-menu.active .line2 {
        opacity: 0;
        background-color: black;
    }
    .mobile-menu.active .line3 {
        transform: rotate(45deg) translate(-5px, -7px);
        background-color: black;
    }

}