.nav-sec-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 73px;
}
.nav-logo{
    height: 116px;
    padding: 20px 0 0 73px;
    width: 50%;
}

.nav-sec-links{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding-right: 73px;
   
}



.nav-links{
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: 40px;
    
}

.nav-links a{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    color: #F5F5F7;
    text-decoration: none;
    /* transition: transform 0.3s;  */
}

/* .nav-links a:hover{
    font-size: 22px;
    border-bottom: 2px solid transparent;
    color: red;
} */
.nav-links a:hover{
  transform: scale(1.11);
  color: #9C796B;
  transition: all  1s ease;
  
}
