*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Roboto, "Helvetica Neue", Helvetica;
}

body{
     width: 100%;
    background-color: #F5F5F7;
    font-family: Roboto, "Helvetica Neue", Helvetica;
} 


button{
    border-radius: 30px;
    background: #B9E4FA;
    border-color: transparent;
    width: 254px;
    height: 44px;
    
    
}

h2{
    width: 100%;
}

h4{
    width: 50%;
    color: #212121;
    font-size: 30px;
    line-height: 44px;
}

p{
    color: #4D4D4D;
    font-size: 15px;
    font-weight: 400;
}





