*{
    margin: 0;
    padding: 00;
    box-sizing: border-box;
    font-family: Roboto, "Helvetica Neue", Helvetica;
}

:root {
    --font-size-grande: 20px;
}

p {
    font-size: var(--font-size-grande);
    font-size: 15px;
}

body{
    width: 100%;
    background-color: #F5F5F7;
    
} 


button{
    border-radius: 30px;
    background: #B9E4FA;
    border-color: transparent;
    width: 254px;
    height: 44px;
    
    
}

h2{
    width: 100%;
}

h4{
    width: 50%;
}
