
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    width: 100%;
    background-color: #F5F5F7;
    font-family: Roboto, "Helvetica Neue", Helvetica;
    
}
h1{
    color: #633102;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
}
h3{
    color: #4D4D4D;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
button{
    border-radius: 30px;
    background: #B9E4FA;
    flex-shrink: 0;
    
}
.header {
    display: flex;
    width: 100%;
    /* height: 570px; */
    height: 100vh;
    background: linear-gradient(100deg, rgba(67, 133, 194, 0.19) 0%, rgba(192, 219, 244, 0.19) 99.58%), linear-gradient(259deg, rgba(3, 181, 155, 0.79) 0.77%, #CDF3EC 38.81%, #4DDECD 100%, #20EBBE 100%), radial-gradient(50% 54.64% at 50% 45.36%, rgba(0, 0, 0, 0.00) 0%, rgba(42, 200, 133, 0.20) 100%);
    
}

.header-conteudo{
    height: 100vh;
    width: 100%;
   
  
    flex-direction: row;
    border: 1px solid black ;
    
}

.container{
    max-width: 1512px;
    margin: 0 auto;
    height: 100%;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    /* border: 1px solid red; */

}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.nav-logo{
    padding: 20px;
    width: 50%;
}
.nav-sec-links{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}
.nav-links{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

a{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    color: #F5F5F7;
    text-decoration: none;
    
}

.header-section{
    display: flex;
    flex-direction: row;
    margin-left:  5%;
    margin-right: 5%;
}
.header-section-image{
    width: 50%;
    align-items: center;
    align-content: center;
}

.header-section-titles{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
   
}
.header-section-titles-intrudution{
    gap: 20px;
}
.header-section-button{
    width: 50%;
    display: flex;
    flex-direction: column;
    width: 40vh ;
    height: 30vh;
    align-items: center;
}
    


/*  

.header-container{
    background-color: rgba(117,215,214,255);
    display: flex;
    flex-direction: column;
}

.header-filho1{
    display: flex;
    flex-direction: row;
}

.header-filho1-logo{
    flex: 1;
}
.header-filho1-links{
    flex: 1;
}

.header-links{
    text-align: end;
}
.header-links a{
    text-decoration: none;
    padding: 15px;
    color: white;
}



.header-filho2{
    display: flex;
    flex-direction: ;
}

.header-filho2-sec1{
    display: flex;
    flex-direction: column;
}

.header-butto-sec{
    display: block;
}

 */